[run]
branch = True

omit =
    */migrations/*
    */test/*
    */tests.py
    */admin.py
    */permissions.py
    */apps.py
    */__init__.py
    */manage.py
    */wsgi.py
    */rectotext.py
    */search.py

source =
    askme
    askme_api

[report]
show_missing = True
