<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>About Us</title>
</head>
<body>
    <h1>Meet The Team</h1>
    <div>
        <h2>Andrii Glukhyi</h2>
        <p></p>
        <a href="https://github.com/andriiglukhyi">Github</a>
        <a href="https://www.linkedin.com/in/andrii-glukhyi-961b17156/">LinkedIn</a>
    </div>
    <div>
        <h2>Peter Kim</h2>
        <p></p>
        <a href="https://github.com/seattlechem">Github</a>
        <a href="https://www.linkedin.com/in/seattlechem/">LinkedIn</a>
    </div>
    <div>
        <h2>Ramon Mendoza</h2>
        <p>Full Stack software developer with Python and Javascript languages. Knowledge using Django, REACT. Interested in working in the automotive and gaming industry</p>
        <a href="https://github.com/brickfaced">Github</a>
        <a href="https://www.linkedin.com/in/ramon-mendoza/">LinkedIn</a>
    </div>
</body>
</html>
